body,
html {
  overflow-x: hidden !important;
}

.taxi-body {
  font-family: sans-serif;
  direction: rtl;
  overflow-x: hidden;
}

.taxi-section1 {
  display: flex;
  flex-direction: row-reverse;
}

.taxi-image1 {
  align-self: center;
}

.taxi-h4 {
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;
}

.taxi-p1 {
  margin: 5px;
  padding: 5px;
}

.taxi-p2 {
  margin: 5px;
  padding: 5px;
}

.taxi-p3 {
  margin: 5px;
  padding: 5px;
}

.taxi-h4-2 {
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;
}

.taxi-p4 {
  margin: 5px;
  padding: 5px;
}

.taxi-h4-3 {
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;
}

.taxi-p5 {
  margin: 5px;
  padding: 5px;
}

.taxi-yello-space {
  background: #fec600;
}

.taxi-h4-4 {
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;
}

.taxi-p6 {
  margin: 5px;
  padding: 5px;
}

.taxi-image2 {
  align-self: center;
}

.taxi-div-1 {
  flex-direction: column;
  margin-left: 10px;
}

.taxi-h4-5 {
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;
}

.taxi-ul-1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.taxi-div-2 {
  background: #F9F9F9;
}

.taxi-ul-2 {
  list-style-type: none;
  align-self: center;
}

.taxi-h4-6 {
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;
  align-self: flex-start;
}

.taxi-h4-7 {
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;
}

.taxi-ul-3 {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

.taxi-div-3 {
  background-color: #F9F9F9;
}

.taxi-h4-8 {
  color: #D5A600;
  font-family: sans-serif;
  font-weight: bold;
}
.taxi-h4-9{
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;

}
.taxi-ul-4{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}
.taxi-div-4{
  margin: 10px;
  padding: 10px;
}
.taxi-div-4-groups{
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;
  border-top: 1px solid #EDEDED;
  padding: 5px;
}
.taxi-div-5{
  background-color: #F9F9F9;
}
.taxi-h4-10{
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;
}
.taxi-h4-10-group{
  color: #D5A600;
  font-family: sans-serif;
  font-weight: bold;
}
.taxi-h4-11{
  color: #001379;
  font-family: sans-serif;
  font-weight: bold;
}

.swiper {
  width: 25vw;
  position: relative;
}

.swiper-slide {
  visibility: hidden;
}

.swiper-slide-active {
  z-index: 10 !important;
  visibility: visible !important;
  transform: scale(1) !important;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.5;
  z-index: 9 !important;
  transform: scale(0.8) !important;
  visibility: visible !important;
}

.swiper-slide-duplicate-next,
.swiper-slide-duplicate-prev,
.swiper-slide-duplicate-active,
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  visibility: hidden !important;
}

.swiper-button-prev1,
.swiper-button-prev2 {
  transform: translate(26%, -700%);
  z-index: 999;
  
}

.swiper-button-next1,
.swiper-button-next2 {
  transform: translate(-26%, -800%);
  z-index: 999;
}

/* Media queries */

@media (max-width: 373px) {
  .swiper-button-prev1,
  .swiper-button-prev2 {
    transform: translate(30%, -100%);
  }

  .swiper-button-next1,
  .swiper-button-next2 {
    transform: translate(-30%, -100%);
  }
}
@media (max-width:373px){
  
}
.taxi-flag-btn{
width: 30px;
height: 30px;
align-self: center;
}
.taxi-image3{
  height: 400px;
  width: 1100px;
}
